@media screen and (max-width: 1200px) {
    .hero h1 {
        font-size: 40px;
        line-height: 1.2;
    }
    .hero h3,
    .about h3 {
        font-size: 24px;
        line-height: 1.2;
    }
    .about h2,
    .experience h2 {
        font-size: 36px;
        line-height: 1.4;
    }

    .card {
        padding: 40px;
    }

    .card h3 {
        font-size: 22px;
        line-height: 1.2;
    }

    .card h4 {
        font-size: 16px;
        line-height: 1.4;
    }
}

@media screen and (max-width: 992px) {
    .row {
        flex-wrap: wrap;
    }

    .col,
    .experience .col {
        width: 100%;
    }

    .hero,
    .about {
        text-align: center;
    }

    .hero .row {
        flex-direction: column-reverse;
    }

    .hero img,
    .about img {
        max-width: 500px;
        margin: 0 auto 30px;
    }

    .experience h2 {
        margin: 0 0 20px;
    }

    .experience .card {
        min-height: auto;
        margin-top: 30px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: calc(100% - 30px);
        margin: auto;
    }

    .hero,
    .experience {
        padding: 80px 0;
    }

    .hero h1 {
        font-size: 30px;
        line-height: 1.2;
    }

    .hero h3,
    .about h3 {
        font-size: 22px;
        line-height: 1.2;
    }

    .hero img,
    .about img {
        max-width: 320px;
        margin: 0 auto 30px;
    }

    .about h2,
    .experience h2 {
        font-size: 28px;
        line-height: 1.4;
    }

    .experience {
        padding-bottom: 40px;
    }

    .experience h2 {
        margin-bottom: 10px;
    }

    .card {
        padding: 30px;
    }

    .card h3 {
        font-size: 20px;
        line-height: 1.2;
    }

    .card h4 {
        font-size: 16px;
        line-height: 1.4;
    }
}
